:root { 
--white_A700_7f:#ffffff7f; 
--white_A700_4c:#ffffff4c; 
--white_A700_b2:#ffffffb2; 
--gray_301:#e6e6e6; 
--amber_300:#ffc74b; 
--gray_101:#f7f7f7; 
--orange_300:#f1bd4c; 
--gray_300:#dddddd; 
--gray_102:#f3f3f3; 
--gray_100:#f3f7fc; 
--bluegray_900:#222247; 
--gray_300_7f:#dddddd7f; 
--white_A700_cc:#ffffffcc; 
--bluegray_800:#252f57; 
--white_A700_33:#ffffff33; 
--white_A700_99:#ffffff99; 
--indigo_200:#83abdb; 
--bluegray_400:#888888; 
--indigo_801:#1f4878; 
--bluegray_900_19:#19355919; 
--white_A700:#ffffff; 
--indigo_800:#214674; 
--bluegray_902:#232348; 
--bluegray_901:#333333; 
}